.services__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

#service{
    min-height: 70vh;
    max-height: 70%;
}
.service {

    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.service__grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 3rem;
}

.service_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 3px solid transparent;
    background: var(--color-bg-variant);
    border-radius: 0.3rem;
    height: 15rem;
    padding: 1rem;
    transition: var(--transition);
}

.service_item p{
    text-align: center;
}


.service_item:hover{
    background: rgba(238, 238, 238, 0.068);
    border-color: var(--color-bg-variant);
    cursor: default;
}

 .experiencie__details:hover{
    background: rgba(238, 238, 238, 0.068);
    border-color: var(--color-bg-variant);
    cursor: default;
}


.experiencie__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: var(--color-bg-variant);
    border-radius: 0.3rem;
    padding: 1rem;
}

.experience__item{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.service-icon{
    font-size: 2rem;

}
.experience__details-icon {
    font-size: 1.5rem;
    color: var(--color-light);
    transition: var(--transition);
}

.experience__details-icon:hover {
    color: var(--color-primary);
}


/*==== MEDIA QUERIES (MEDIUM DEVICES) ====*/

@media screen and (max-width: 1024px) {

    .service__grid{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 768px){
    .services__container{
        display: flex;
    }
    .service__img{
        display: none;
    }
}


/*==== MEDIA QUERIES (SMALL DEVICES) ====*/

@media screen and (max-width: 600px) {

    .service__grid{
        grid-template-columns: 1fr;
    }
}